<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GemBox.Email" version="15.0.1116" targetFramework="net48" />
  <package id="Rebex.Common" version="6.0.8060" targetFramework="net48" />
  <package id="Rebex.Mail" version="6.0.8060" targetFramework="net48" />
  <package id="Rebex.Networking" version="6.0.8060" targetFramework="net48" />
</packages>